client/node_modules
client/dist
client/.angular
client/.cache
client/tmp
client/out-tsc
client/bazel-out

client/npm-debug.log
client/yarn-error.log
*.log

.git
.vscode
.idea
*.sublime-workspace

.DS_Store
Thumbs.db