bin/
obj/
*.user
*.suo
*.vs/
*.pdb

.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

*.log
logs/
*.db
*.db-journal
*.sqlite
*.swp
*.tmp
*.bak
*.pid
*.seed
*.tar
.DS_Store
Thumbs.db

.env

node_modules/
Frontend/**/dist/
Frontend/**/.angular/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml


appsettings.json
db/init.sql
k8s/secrets/*.local.yaml
k8s/secrets/secret.yaml

db/init.sql

deploy/helm/taskly/charts/*
!deploy/helm/taskly/charts/*.tgz
